# Common credential files
credentials.json

# Private Files/Folder
.json
secret.csv
solutions/
2023/
src

# Secret script
failure_ivmpp_modeling.py

# Byte-compiled  optimized  DLL files
__pycache__
.py[cod]
$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env
secret
venv

# Idea  folder to  ignore (pycharm folder)
.idea/

# Local readthedocs folder
build

